<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>





    <ion-content>
      <ion-label label="storeSettings()">Maximum Distance</ion-label>
        <ion-list>
            <ion-item>
              0<ion-range color="danger" snaps="true" min="0" max="100" pin="true"></ion-range>100
            </ion-item>
            </ion-list>

      <ion-label>Age Range</ion-label>
      <ion-list>
        <ion-item>
            18<ion-range label= "storeSettings()" dualKnobs="true" min="18" max="60" step="1" pin="true" snaps="true"></ion-range>60
          </ion-item>
        </ion-list>

<button ion-button (click)="locate()">Show Location</button>

                <p>{{data}}</p>
        <ion-item>
          <ion-label>Allow for push notifications</ion-label>
        </ion-item>
    
        <ion-item>
            <ion-label>Email</ion-label>
            On<ion-toggle></ion-toggle>Off
        </ion-item>
        
        <ion-item>
            <ion-label>Phone</ion-label>
            On<ion-toggle></ion-toggle>Off
          </ion-item>

    <ion-list lines="none">
      <ion-list-header>
      <ion-label>Tips and Policy Statements</ion-label>
    </ion-list-header>
<ion-item href="https://www.gotinder.com/safety">
  <ion-icon slot="start" color="medium" name="heart"></ion-icon>
<ion-label>Tinder's Safe Dating Tips</ion-label>
</ion-item>
<ion-item href="https://www.gotinder.com/privacy">
  <ion-icon slot="start" color="medium" name="book"></ion-icon>
  <ion-label>Our Privacy Policy follows Tinders, Check it out here</ion-label>
  </ion-item>
  <ion-item href="https://www.gotinder.com/community-guidelines">
   <ion-icon slot ="start" color="medium" name="people"></ion-icon>
   <ion-label>A version of Tinder's community-guidelines</ion-label>
  </ion-item>
</ion-list>
</ion-content>