<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img class="byop" src="../assets/icon/byop.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="content">Bring Your Own Pet </ion-card-subtitle>
        <ion-card-title class="titleContent">Matching pet lovers in your area</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Fun Quizzes To Take</ion-label>
      </ion-list-header>
      <ion-item href="https://iheartdogs.com/quiz-what-kind-of-dog-are-you/">
        <ion-icon slot="start" color="medium" name="paw"></ion-icon>
        <ion-label>What kind of dog are you?</ion-label>
      </ion-item>
      <ion-item href="https://www.buzzfeed.com/chelseamarshall/what-kind-of-cat-are-you">
        <ion-icon slot="start" color="medium" name="paw"></ion-icon>
        <ion-label>What kind of cat are you?</ion-label>
      </ion-item>
      <ion-item href="https://www.buzzfeed.com/peggy/what-kind-of-horse-are-you">
        <ion-icon slot="start" color="medium" name="nutrition"></ion-icon>
        <ion-label>What kind of horse are you</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
