<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Matches
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<ion-view view-title="Matches">
    <ion-content class="padding">-->

  <ion-card>
    <ion-card id="td-card" class="card-{{$index}}"
       ngFor="profile in matches.profiles"
       on-swipe-left="matches.nope($index)"
       on-swipe-right="matches.like($index)">

    </ion-card>

    <div class="image">
      <div class="no-text">NOPE</div>
        <img src="{{profile.avatar}}">
      <div class="yes-text">LIKE</div>
      </div>

      <div class="item">
        <h2>{{profile.name}}, {{profile.age}}</h2>
      </div>

  </ion-card>

    <!--</ion-content>
  </ion-view>-->